body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
.div1{
    background-color: rgb(88, 211, 88);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
h2{
    color: white;
}
.div2 {
    display: flex;
    margin: 20px;
}
.pan{
    flex: 1;
    background-color: rgb(219, 219, 219);
    padding: 40px;
    padding-bottom: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.div3 {
    flex: 3;
    margin-left: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.spa {
    margin-bottom: 20px;
}
.lienhe {
    text-align: center;
    padding: 10px;
    background-color: rgb(48, 42, 42);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
.email{
    color: gray;
}
